@import './var';

body {
  margin: 0;
  font-family: 'Public Sans Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

.color-gray {
  color: $gray;
}

.color-green {
  background: $green-main;
}

.error-message {
  color: $red;
  position: absolute;
  bottom: 3px;
  left: 4px;
  font-size: 14px;
}

.error-server {
  color: $red;
  position: absolute;
  bottom: 3px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.btn-default {
  background-color: $green-main;
  color: $white;

  &:hover {
    background-color: $green-hover;
  }
}

.field-wrapper {
  position: relative;
}

.form {
  width: 100%;
  border-radius: 8px;
}

form {
  width: 100%;
}