@import './var';

body {
  margin: 0;
  font-family: 'Public Sans Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

.color-gray {
  color: $gray;
}

.color-green {
  background: $green-main;
}