@import 'styles/var';

.icon {
  margin-right: 40px;
}

.closed {
  display: none;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  color: $gray;
  transition: all .3s ease;

  &.opened {
    margin-left: 24px;
  }
}

.menu {
  color: $gray;
}