@import 'styles/var';

.link {
  display: flex;
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: $gray;
  transition: all .3s ease;
  text-decoration: none;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;

  &:hover {
    background: rgba($gray, .2);
  }

  path {
    transition: all .3s ease;
  }

  &.active {
    color: $green-main;
    background: $green-back;

    path {
      color: $green-main;
    }
  }
}

.list {
  .link {
    margin: 0;
  }
}